.container{
    background-color: black;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.inputDiv{
    display: flex;
    gap: 50px;
    align-items: center;
}

.inputDiv h1{
    font-size: 90px;
}

.operatorButton{
    padding: 20px;
    border: none;
    border-radius: 7px;
    transition: opacity .7s ease;
    cursor: pointer;
    font-size: 2rem;
    background-color: #272727;
    color: white;
}

.operatorButton:hover{
    opacity: .8;
}