@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

